[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ariadne = "===0.17.1"
flask-cors = "*"
psycopg2-binary = "*"
pandas = "*"
surprise = "*"
numpy = "*"
passlib = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
